In [3]:
import os
from os import path

import pandas as pd

In [4]:
# Various datasets to visualize

option = 13
time0 = time1 = ''

if option == 13:    
    title = "SPIKE TEST"
    base_folder = "./simulations/spike2"
    sim_id = 141
    pathogen_id = 16
    sim_tz = "US/Eastern"
    time0 = 'Jun 11 2023 10:10AM'
    time1 = 'Jun 11 2023 11:10AM'
    time_step_min = 1
    use_new_id_schema = True

In [6]:
data_folder = path.join(base_folder, "data")
output_root = path.join(base_folder, "output")
output_folder = path.join(output_root, "contacts")

In [9]:
all_users = pd.read_csv(path.join(data_folder, "participants.csv"))
all_sequences = pd.read_csv(path.join(data_folder, "sequences.csv"))
all_mutations = pd.read_csv(path.join(data_folder, "mutations.csv"))

users = all_users[all_users["sim_id"] == sim_id]
ref_seq = all_sequences[all_sequences["pathogen_id"] == pathogen_id]
mutations = all_mutations[all_mutations["sim_id"] == sim_id]

In [12]:
mutations

,id,sim_id,user_id,sequence_id,prev_mutation_id,delta
10,11,141,6714,1,0,{}
11,12,141,6726,1,0,{}
12,13,141,6732,1,12,{\n 241: a-t\n}
13,14,141,6733,1,13,"{\n 112: a-c,\n 226: c-t\n}"
14,15,141,6712,1,14,{\n 296: c-t\n}
15,16,141,6720,1,15,{\n 131: a-t\n}
16,17,141,6708,1,14,{\n 89: t-g\n}